.navbar {

    background-color: #3563E9;
    float: none;
    display:inline-block;

    width: 100%;
    top: 0;
    left: 0;
    overflow-y: hidden;
    float: none;
    display:inline-block;
}

.nav .navbar-nav {
    box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.1);
}

.navbar a{
    color: #E0E0E0;

}

.navbar button{
    width: 90px;
    height: 25px;

    float: right;


    border-radius: 5px;
    border: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.46px;




  }

.column {
    float: left;
    width: 40%;

    margin-left: 5%;
    margin-right: 5%;
    margin-top: 100px;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    font-family: 'raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: 1.2px;
    text-transform: capitalize;
}

p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.2px;
    color: #757575;
}
button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 40px;
    gap: 10px;

    width: 137px;
    height: 51px;

    /* light/primary/origin */

    background: #3563E9;
    border-radius: 5px;
    border: none;
    color: white;
    text-align: center;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#logo {
    position: absolute;
    width: 105.43px;
    height: 30px;
    top: 530px;


    background: url(logo-ead);
}

#nama {
    position: absolute;

    height: 14px;
    left: 240px;
    top: 540px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.46px;

    color: #757575;
}
.navbar li{
  left: 15%;
}

#kanan{
    right: 0%;
    position: absolute;
  }