.column {
    float: left;
    width: 50%;
    padding: 10px;

  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

form {
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
    
    margin-right: 50px;
    position: absolute;
    top: 120px;
    margin-left: 7%;
}


input[type="text"],input[type="email"],input[type="password"],select,textarea {
    grid-column: 2 / 3;
    padding: 10px 18px;
    margin: 7px 0;
    display: inline-block;
    box-sizing: border-box;
    right: 15%;
    width: 420px;
    height: 35px;
    border: 1px solid #757575;
    border-radius: 8px;
}

input[type="submit"]{
    width: 118px;
height: 45px;
background: #3563E9;
border-radius: 8px;
border: none;
    cursor: pointer;

    font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
text-align: center;
letter-spacing: 0.46px;

color: #FFFFFF;
}

h1{
    /* position: absolute;
width: 161px;
height: 47px;
left: 800px;
top: 90px; */

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: 0.2px;

color: #000000;
}